@{
    ViewData["Title"] = "Tu Pagina de Peliculas";
}

<div class="text-center">

    <h1 class="display-4">@ViewData["Title"]</h1>

    <h1 class="display-4">
    </h1>
    <p>Jonatan Ismael</p>
</div>
